# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary and build files
*.tmp
*.bak
scratch/

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE files
.vscode/
.idea/
*.swp
